<div class="container">

    <button class="btn btn-success mt-4 w-100"  data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="fa fa-plus"></i>
        Add Product</button>

    <hr>

    <div class="row">
        <div class="col-md-3 mt-2"  *ngFor="let product of products" style="margin-right: 10px;margin-bottom: 10px;">
            <div class="card" style="width: 18rem;">
                <img [src]="product.productPhoto" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{product.productName}}</h5>
                   <button class="btn btn-warning w-100 mt-2"  (click)="addToCart(product)">
                    <i class="fa fa-plus"></i>
                    Add to Cart</button>
                   
                </div>
            </div>

        </div>

    </div>

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Adding Product</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         <div class="form-group mt-2">
            <label for="productName"  >Product Name</label>
            <input type="text" id="productName" class="form-control"  [(ngModel)]="product.productName">
         </div>
         <div class="form-group mt-2">
            <label for="productPhoto">Product Photo</label>
            <input type="text" id="productPhoto" class="form-control"   [(ngModel)]="product.productPhoto">
         </div>
         <div class="form-group mt-2">
            <button class="btn btn-primary w-100"  (click)="addProduct()" >Add Product</button>
         </div>
        </div>
       
      </div>
    </div>
  </div>

</div>